@media print and (max-width: 8.5in) {
  #navbar, #mainHeader {
    margin: 10px;
  }

  #portfolio {
    float: left;
    width: 33%;
    margin: auto;
  }

  #resume {
    float: right;
    width: 33%;
    margin: auto;
  }

  #footer {
    clear: both;
  }
}
