/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

h1, h2, h3, h4 {
  font-family: 'Nixie One', cursive;
}

p {
  font-family: 'Libre Baskerville', serif;
}

img {
	max-width: 100%;
}

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */

.group:after {
		content: " "; /* 1 */
		display: table; /* 2 */
		clear: both;
}

.group {
		*zoom: 1; /* 3 */
}

/* ******************************************
	Media Queries for screen widths wider than 720px
****************************************** */
@media screen and (min-width: 720px){
	#portfolio article,
	#skills article {
		float:left;
		width:33%;
	}
}
